<div>
  <%= statement.time_period %>
</div>
<div>
  <%= statement.institution_name.humanize %>
</div>
<div>
  <%= humanized_money_with_symbol(statement.total) %>
</div>
<div>
  <% if statement.met_budget? %>
    <i class="bi bi-check-circle-fill"></i>
  <% else %>
    <i class="bi bi-x-circle-fill"></i>
  <% end %>
</div>
