<h1>Monthly statements</h1>

<section class="row gy-3 mt-4" id="statements">
  <div class="row border-bottom border-secondary-subtle py-2">
    <%= turbo_frame_tag 'new_statement' do %>
      <%= render "new_statement_button" %>
    <% end %>
  </div>
  <%= render @monthly_statements %>
</section>
