<%= turbo_frame_tag 'new_statement' do %>
  <div class="justify-self-end text-end">
    <%= link_to '', statements_path, class: 'btn-close' %>
  </div>
  <h3>Add statement</h3>
  <%= render "form" %>
<% end %>
