<section class="row">
  <div class="row">
    <div class="col">
      <%= area_chart monthly_statement_chart_path(monthly_statement, :progress), prefix: '$' %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= pie_chart monthly_statement_chart_path(monthly_statement, :donut), prefix: '$' %>
    </div>
    <div class="col">
      <%= bar_chart monthly_statement_chart_path(monthly_statement, :bar), suffix: '%', precision: 3 %>
    </div>
  </div>
<section>
