<section class="row">
  <ul class="list-group gap-3">
    <%= render partial: 'monthly_statements/transaction',
      collection: transactions,
      locals: { statement: monthly_statement } %>
  </ul>
  <%= paginate transactions %>
</section>
