<section class="row">
  <ul class="list-group gap-3">
    <%= render partial: 'transaction',
      collection: monthly_statement.transactions,
      locals: { statement: monthly_statement } %>
  </ul>
</section>
